@model IEnumerable<ElearnerApi.Data.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2 class="text-center">Courses</h2>

<form asp-action="Index">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <input class="form-control" id="name" name="name" placeholder="Search">
            </div>
        </div>
        <div class="col-sm">
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-controller="Courses" asp-action="Index" class="btn btn-secondary">Reset</a>
        </div>
    </div>
</form>

@if (TempData["SearchString"] != null)
{
    <div class="row">
        <div class="col">
            <p>Search results for: @TempData["SearchString"]</p>
        </div>
    </div>
}


    <div class="row">
        <div class="col-sm">
            <p><a asp-controller="Home" asp-action="UploadCourse" class="btn btn-outline-success my-2 my-sm-0">Create New Course</a></p>
        </div>
    </div>


<table class="table">
    <thead>
        <tr style="background-color: #343A40; color: #fff;">
            <th>
                @Html.DisplayNameFor( model => model.CategoryId )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Name )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Description )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.DateCreated )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <a asp-controller="Home" asp-action="Course" asp-route-id="@item.Id">
                <tr class="border border-dark">
                    <td>
                        <a asp-controller="Home" asp-action="Course" asp-route-id="@item.Id">
                            <p class="course-info">
                                @Html.DisplayFor( modelItem => item.CategoryId )
                            </p>
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Course" asp-route-id="@item.Id">
                            <p class="course-info">
                                @Html.DisplayFor( modelItem => item.Name )
                            </p>
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Course" asp-route-id="@item.Id">
                            <p class="course-info">
                                @Html.DisplayFor( modelItem => item.Description )
                            </p>
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Course" asp-route-id="@item.Id">
                            <p class="course-info">
                                @Html.DisplayFor( modelItem => item.DateCreated )
                            </p>
                        </a>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modify
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                            </div>
                        </div>
                    </td>
                </tr>
            </a>
        }
    </tbody>
</table>

<div class="row">
    <div class="col">
        <p>Total results found: @Model.Count( ) </p>
    </div>
</div>
